<div class="sumativa-container">
    <h1 class="title">Sumativa</h1>
    <p class="description">Bellaco 123</p>

    <app-aceptar-button (buttonClicked)="onAceptarButtonClick()"></app-aceptar-button>
    <app-cancelar-button (buttonClicked)="onCancelarButtonClick()"></app-cancelar-button>
    <app-mode-button (modeChanged)="onModeChanged($event)"></app-mode-button>
    <app-primario-button (buttonClicked)="onPrimarioButtonClick()"></app-primario-button>
    <app-secundario-button (buttonClicked)="onSecundarioButtonClick()"></app-secundario-button>
    <app-form (formValuesChange)="onFormValuesChange($event)"></app-form>

    <app-form-view [formData]="formData"></app-form-view>
    
    <!-- Mostrar el FormView solo si formViewVisible es true -->
    <div *ngIf="formViewVisible" [ngStyle]="{'position': 'absolute', 'top': formViewPosition.top, 'left': formViewPosition.left, 'background-color': formViewBackgroundColor}">
        <app-form-view [backgroundColor]="formViewBackgroundColor"></app-form-view>
    </div>
</div>